.container {
  border: 2px solid;
  width: 800px;
  height: 90vh; /*(90%)/*/
  display: flex;
  flex-direction: row; /* row reverse, row reverse */
  /* justify-content: center; space-between, space aroudn, end */
}
.box1 {
  border: 2px solid;
  width: 20px;
  height: 20px;
}
.box2 {
  border: 2px solid;
  width: 20px;
  height: 20px;
}
.box3 {
  border: 2px solid;
  width: 20px;
  height: 20px;
}
