* {
  font-size: medium;
}

body {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.box1 {
  color: rgb(4, 0, 0);
}
.box2 {
  color: rgb(4, 0, 0);
}
.box3 {
  color: rgb(4, 0, 0);
}
.box4 {
  color: rgb(4, 0, 0);
}
.box5 {
  color: rgb(4, 0, 0);
}
.box6 {
  color: rgb(4, 0, 0);
}
.box7 {
  color: rgb(4, 0, 0);
}
