* {
  font-size: medium;
}

body {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.box1 {
  color: rgb(4, 0, 0);
  text-align: center;
  font-weight: 200;
  line-height: 25px;
  text-transform: uppercase;
  border: 2px solid black; /* width style(solid, dotted, dashed) color */
  border-radius: 10px;
  padding: 1px 2px 3px 4px; /*use to  top right botto left*/
  margin: 1px 2px 3px 4px; /*same as padding */
  display: inline;
}
.box2 {
  color: rgb(4, 0, 0);
  text-align: left;
  font-weight: 900;
  display: inline; /*no margin no padding*/
}
.box3 {
  display: block; /* takes full space availabe in width*/
  color: rgb(4, 0, 0);
  text-align: right;
  font-weight: 600;
}
.box4 {
  display: inline-block; /*simlar to inline but we can set margin padding */
  color: rgb(4, 0, 0);
  text-decoration: line-through;
}
.box5 {
  display: none; /* to remove element for document flow */
  color: rgb(4, 0, 0);
  text-decoration: overline;
}
.box6 {
  color: rgb(4, 0, 0);
  text-decoration: underline;
  border: 2px solid red;
  position: relative; /* position 
  static - default position (The top, right, bottom, left, and z-index properties have no effect)

  relative - element is relative to itself. (The top, right, bottom, left, and z-index will work)
  
  absolute - positioned relative to its closest positioned ancestor. (removed from the flow)
  
  fixed - positioned relative to browser. (removed from flow)
  
  sticky - positioned based on user's scroll position
   */
}
.box7 {
  color: rgb(4, 0, 0);
}
